body{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(85, 111, 228));
    color: black;
    font-weight: bolder;
}
#form1{ 
    background-color: transparent;
    display: flex;
    
}
.btn{
    display: flex;
    justify-content: end;
    right: 0;
    position: absolute;
    top: 0;
}

select{
    padding-right: 20px;
  border:none;
}



img{
    width: 80px;
    height: 60px;
}
td{
    padding-left: 1%;
    width: 30px;
    padding-right: 1%;

   
    
}
table , th{
    border: 3px solid white;
}
table{
    width: 90vw;
   

}
button{
    margin-right: 20px;
    background-color: transparent;
    color: white;
    
}
.fa-solid {
    
    transition-duration: 0.4s;
    font-size: 20px;
}

  
.fa-solid:hover {
    background-color: green; /* Green */
    color: white;
  }

  button{    border: none !important;}

  form{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    width: 70vw;
    font-weight: bolder;

   
  }
  select{
    font-weight: bold;
    
  }

  