* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(85, 111, 228));
  }
#home{
     background:   url(/homepage.jpg);
    background-size: cover;
    object-fit: cover;
    height:80vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.hometext{
    color: rgb(85, 111, 228);
    margin-bottom:0px  !important;
    font-family: Copperplate, Papyrus, fantasy;
    font-weight: bolder;
    text-shadow: 2px 4px 3px #ffffff;
    font-size: 60px !important;
   
}
#navbar{
    display: flex;
    justify-content: flex-end;
}
li {
    list-style-type: none;
    }
form{
    background-color: rgba(206, 185, 243, 0.558) !important;
    background-color: white;
    display: flex;
    flex-direction: row !important;
   
}
#form1{
    width: 60vw;
  
    position: absolute;
    bottom: 80px;
    box-shadow: 0px 20px 40px 0px rgba(11, 10, 10, 0.91);
    
}
.filters{
    padding-left: 1%;
    padding-bottom: 3%;
}
select , option{
    width: 13.5vw;
    height: 5vh;
    border-color: white;
    background-color: rgb(222, 220, 220);
    border: 2px solid rgb(222, 220, 220);
    border-radius: 25px;
    font-weight: bolder !important;
}
select{
    border-radius: 0;
    background-color: rgba(66, 145, 167, 0.22);
}

.form-label {
    font-weight: bold;
}
#listingbox{
    margin-top:5%;
}
#properties{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
h1{
    display: flex;
    justify-content: center;
    padding-top: 80px;
    color: rgb(10, 54, 249) !important;
    padding-bottom: 20px ;
    font-family: Copperplate, Papyrus, fantasy;
    font-weight: bolder !important;
    text-shadow: 2px 4px 6px #fbf8f8;
    font-size: 30px !important;
}
#listingcards{
    background-color:rgba(231, 227, 228, 0.858);
    width:400px;
    padding:10px;
    margin:5px;
}
#listing-values{
 display:flex;
}
li{
    margin-left: 4%;
    list-style: none;
}
img{
    width: 380px;
    height: 250px;
}
 
#contact{
    background-color: #dce1df;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(85, 111, 228);

   background-color: white;
    

}
.hello{

    padding-bottom: 1%;
    padding-top: 1%;
    padding-right: 1%;
}
input{
    padding-bottom: 5%;
}

span{
    padding-left: 10px;
    font-size: 15px;
    color: rgb(85, 111, 228);
    padding-bottom: 20px ;
    font-family: Copperplate, Papyrus, fantasy !important;
    font-weight: bolder;
    text-shadow: 2px 4px 3px #ffffff;
    
  }
 